/* .light{
  color: black;
  text-align: center;


}
.Dark{
  text-align: center;
  

} */

 .light{
  background-color: white;
  color: black;
  /* display: flex;
  /* justify-content: center; */
  margin-top: 50px; 

}
.dark{
  background-color: black;
  color: white;
  /* display: flex;
  justify-content: center; */
}
h2{
  color: rgb(216, 92, 113);
  
}
button{
   
  background-color:rgb(216, 92, 113);  
  /* position: absolute;
  right: 300px; 
   */
}
